<!DOCTYPE html>
<html>
	<head>
		<title>TeXTalk Popup</title>
		<script src="https://kit.fontawesome.com/5c70e74c46.js" crossorigin="anonymous"></script>
		<script src="popup.js"></script>
		<style>
			.btn {
				background-color: #08FFDF;
				font-size: 32px;
				padding: 20px;
				margin: 20px;
				width: 180px;
				height: 180px;
				border-radius: 50%
			}

			.btn:hover {
				background-color: #06B8A0;
<!--				color: #FFF;-->
			}
		</style>
	</head>
	<body>
<!--		<button onclick="toggleRecord()" class="btn"><i class="fas fa-microphone"></i></button>-->
<!--		<button id="record">Record</button>-->
			<button id="record" class="btn" onClick="onClick()"><i class="fas fa-microphone"></i></button>
<!--    		<a id="record">HMMMM</a>-->
	</body>
</html>
