<!DOCTYPE html>
<html>
	<head>
		<title>TeXTalk Popup</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/forward',
                function(data) {

            });
            return false;
          });
        });
</script>


</div>
	</head>
	<body>
<!--		<button onclick="toggleRecord()" class="btn"><i class="fas fa-microphone"></i></button>-->
<!--		<button id="record">Record</button>-->
<form action="/forward/" method="post">
    <button name="forwardBtn" type="submit">Forward</button>
</form><!--    		<a id="record">HMMMM</a>-->
	</body>
</html>
